@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../media/wallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.7254901961);
  padding: 1.5rem 0rem 0.7rem 0rem;
  border-top: 0.025rem solid;
}
.footer .footerSection li {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  margin: 0.5rem 0 0.5rem 0;
}
.footer .footerSection li h3 {
  color: #37c5f3;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}
.footer .containerLogos {
  border-top: 0.025rem solid;
}
.footer .containerLogos img {
  width: 40px;
  transition: 0.4s ease-in-out all;
}
.footer .containerLogos img:hover {
  transform: scale(1.2);
}
.footer .containerCopyright p {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  margin: auto;
}

.find_us {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
.find_us:hover {
  box-shadow: 0px 0px 19px 5px #37c5f3;
  background-color: black;
  color: white;
}
.find_us a {
  text-decoration: none;
  color: black;
}
.find_us a:hover {
  color: white;
}

.header {
  background-color: rgba(0, 0, 0, 0.7254901961);
}

.logo {
  width: 10rem;
  margin-left: 7vh;
  transition: 0.3s ease-in-out all;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.logo:hover {
  transform: scale(1.05);
}

.btn-cart img {
  width: 40px;
  transition: 0.3s ease-in-out all;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.btn-cart img:hover {
  transform: scale(1.05);
}

.main {
  padding: 2rem 2.5rem 2rem 2.5rem;
}

.body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../img/wallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.disclaimer {
  margin: 20px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.disclaimer:hover {
  color: white;
  background-color: #000000;
  box-shadow: 0px 0px 19px 5px #37c5f3;
}

.title1 {
  font-size: 4rem;
  font-weight: 600;
  transition: 0.3s;
}
.title1:hover {
  letter-spacing: 6px;
}

#drinks img {
  transition: 0.4s ease-in-out all;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#drinks img:hover {
  transform: scale(1.02);
}

.discount {
  height: auto;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: none;
  align-items: flex-end;
  transition: 0.3s;
}
.discount:hover {
  box-shadow: 0px 0px 19px 5px #37c5f3;
}
.discount h1 {
  text-align: center;
  color: #37c5f3;
  font-weight: bolder;
  margin: 0%;
  font-size: 4rem;
}
.discount h3 {
  text-align: center;
  margin: 0%;
  font-size: 1.5rem;
}
.discount p {
  margin-top: 40px;
}

.destacado {
  color: #37c5f3;
}

.discount.active {
  transition: 0.5s;
  display: flex;
}

.content {
  background-color: rgb(0, 0, 0);
  padding: 40px;
  border-radius: 10px 10px 0 0;
}

.discount_btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.d_btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  width: 100px;
  margin-right: 1em;
  border-radius: 3px;
  text-transform: uppercase;
}

.d_btn.accept {
  background-color: #37c5f3;
  color: #fff;
  transition: 0.3s;
}
.d_btn.accept:hover {
  color: #000000;
}/*# sourceMappingURL=styles.css.map */